<div class="p-grid">
    <app-resizable-draggable [title]="'abc'" [width]="300" [height]="150" [left]="100" [top]="100"></app-resizable-draggable>
</div>

<div class="p-grid">
    <app-resizable-draggable [title]="'def'" [width]="300" [height]="150" [left]="100" [top]="100"></app-resizable-draggable>
</div>

<div class="p-grid">
    <app-resizable-draggable [title]="'zxc'" [width]="300" [height]="150" [left]="100" [top]="100"></app-resizable-draggable>
</div>

<div class="p-grid">
    <app-resizable-draggable [title]="'xyz'" [width]="300" [height]="150" [left]="100" [top]="100"></app-resizable-draggable>
</div>